.inside-article > #mc_embed_shell > #mc_embed_signup #mc_embed_signup_scroll {
  border-width: 1px;
  border-style: solid;
  padding-left: 20px;
  margin-left: -20px;
}
#main .entry-content > div {
  margin-bottom: 20px;
}
.post .css-1ukx6ls {
  border-width: 0px;
  border-style: solid;
}
.entry-content .css-s18d0o {
  border-width: 0px;
}
.inside-article .css-9uwahe {
  border-width: 1px;
  border-style: solid;
  border-color: #f36a13;
}
.inside-navigation .header-image {
  padding-top: 25px;
  padding-bottom: 15px;
}
#main .wp-block-heading {
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: #9a9999;
  padding-left: 6px;
}
